canvas.backgroundsketch {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.attractor_controls {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 0;
  background: rgba(255, 255, 255, .7); /* Darker for contrast */
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
} 

.color_controls {
  position: fixed;
  top: 170px;
  left: 20px;
  z-index: 0;
  background: rgba(255, 255, 255, .7); /* Darker for contrast */
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
}


button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}
